{
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "next",
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
  }
}